<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TechShare{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    {%block page_css %}{% endblock %}
</head>

<body>
    {%include 'common/header.html'%}
    <div class="layout">
        {% if request.endpoint not in ['login','signup'] %}
        {% include 'common/hamburger.html' %}
        {% endif %}
        <main class="content">
            {%block content %}{% endblock %}
        </main>
    </div>
    {%include 'common/footer.html'%}

</body>

</html>