<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TechShare{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    {%block page_css %}{% endblock %}
</head>

<body>
    {%include 'common/header.html'%}
    {% if request.path != "/login" and request.path != "/signup" %}
    {%include 'common/menu.html'%}
    {% endif %}
    <main>
        {%block content %}{% endblock %}
    </main>
    {%include 'common/footer.html'%}

</body>

</html>