{% extends 'base.html' %}

{% block title %}Login - TechShare{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post_detail.css') }}">
{% endblock %}

{% block content %}
<!-- 全体の構成 -->
<div class="detail-wrapper">
    <div class="main-column">
        <!-- 投稿の内容 -->
        <div class="post-detail-card">
            <article>{{ post.content}}</article>
            <!-- 削除などの追加 -->
            <div class="actions">
                <input type="submit" value="削除" onclick="return confirm('投稿内容を削除してもよろしいですか？');">
            </div>
        </div>
        <!-- コメント投稿フォーム -->
        <section class="comment-btn">
            <input type="checkbox" id="new-comment" class="modal-toggle">
            <label for="new-comment" class="open-btn">コメントをする</label>

            <div class="modal">
                <!-- 背景 -->
                <div class="modal-content">
                    <h2>コメントフォーム</h2>
                    <form action="/post/1" method="post">
                        <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
                        <textarea name="content" placeholder="内容を入力してください"></textarea>
                        <button type="submit">送信</button>
                    </form>
                    <label for="new-comment" class="close-btn">&times;</label>
                </div>
            </div>
        </section>
        <!--コメント一覧 -->
        {#< section class="comment-section">
            <h3>コメント</h3>
            {% for comment in comments %}
            <div class="commrnt">
                <p class="commrent-user">{{ comment.user_name }}</p>
                <p class="coment-body">{{ comment.comment }}</p>
                <p class="comment-data">{{ comment.created_at }}</p>
            </div>
            {% else %}
            <p class="no-comment">まだコメントはありません</p>
            </section>#}

    </div>
</div>
</div>

{% endblock %}