{% extends 'base.html' %}

{% block title %}post-detail - TechShare{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post_detail.css') }}">
{% endblock %}

{% block content %}
<!-- 全体の構成 -->
<div class="detail-wrapper">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash flash-{{ category }}">
            {{message}}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="main-column">
        <!-- 投稿の内容 -->
        <div class="detail-list">
            <div class="post-detail-card">
                <article>{{ post['content'] }}</article>
                <!-- 削除などの追加 -->
                <div class="actions">
                    {% if post['user_id'] == user_id %}
                    <form action="{{ url_for('delete_post',post_id=post['post_id'])}}" method="post"
                        onsubmit="return confirm('投稿内容を削除してもよろしいですか？');">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="button" class="bookmark">
                            <i class="far fa-star "></i>
                        </button>
                        <button type="submit" class="delete">削除</button>
                    </form>
                    {% endif %}
                </div>
            </div>
            <!-- コメント投稿フォーム -->
            <section class="comment-btn">
                <input type="checkbox" id="new-comment" class="modal-toggle">
                <label for="new-comment" class="open-btn">コメントをする</label>

                <div class="modal">
                    <!-- 背景 -->
                    <label for="new-comment" class="modal-overlay"></label>
                    <div class="modal-content">
                        <h2>コメントフォーム</h2>
                        <form action="{{ url_for('create_comment',post_id=post['post_id'])}}" method="post">
                            <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
                            <textarea name="content" placeholder="内容を入力してください"></textarea>
                            <button type="submit" class="delete">送信</button>
                        </form>
                        <label for="new-comment" class="close-btn">&times;</label>
                    </div>
                </div>
            </section>
            <!--コメント一覧 -->
            <section class="comment-section">
                {% if comments and comments|length > 0 %}
                {% for comment in comments %}
                <div class="name">
                    <span class="user">{{comment['user_name']}}</span>
                </div>
                <div class="comment-card">
                    <article class="comment-body">
                        {{comment['content']}}
                    </article>
                    <div class="comment-time">
                        {{comment['created_at']}}
                    </div>
                    <div class="actions">
                        {% if comment['user_id'] == user_id %}
                        <form action="{{ url_for('delete_comment',comment_id=comment['comment_id'])}}" method="post"
                            onsubmit="return confirm('コメントを削除してもよろしいですか？')">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button type="button" class="bookmark">
                                <i class="far fa-star "></i>
                            </button>
                            <button type="submit" class="delete">削除</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p class="no-comment">まだコメントはありません</p>
                {% endif %}
            </section>
        </div>
    </div>

    {% endblock %}