{% extends 'base.html' %}

{% block title %}Login - TechShare{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock %}

{% block content %}
<div class="page-post">
        <!-- フラッシュメッセージ -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash flash-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <section class="post-list">
    {% if posts and posts|length > 0 %}
        {% for post in posts %}
        <div class="post-whole">
            <div class="name">
                <span class="user">{{ post.user_name }}</span>
            </div>
                <div class="post-card" data-url="{{ url_for('post_detail_view', post_id=post.post_id)}}">
                    <div class="post-content">
                        <div class="post-tags">
                            {% for tag in post.tags %}
                                <p>
                                    #{{ tag.tag }}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="post-top">
                            <div class="post-header">
                                <div class="post-time">{{ post.created_at }}</div>
                                <button class="bookmark-btn"><i class="far fa-star"></i></button>
                            </div>
                            <div class="post-body">
                                {{ post.content }}
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </a> -->
        </div>
        {% endfor %}
    {% else %}
    <div class="empty">
        <p>投稿がありません。</p>
    </div>
    {% endif %}
    </section>

    <section class="post">
        <input type="checkbox" id="new-post" class="modal-toggle">

        <!-- 投稿フォームを開くボタン (label) -->
        <label class="open-btn" for="new-post">投稿する</label>

        <!-- モーダルウィンドウ本体 -->
        <div class="modal">
            <!-- 背景（閉じるボタンの役割も兼ねる） -->
            <label for="new-post" class="modal-overlay"></label>
            
            <div class="modal-card">
                <div class="modal-content">

                    <!-- <h2>投稿フォーム</h2> -->
                    <form class="post-form" action="/posts" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <!-- タグ選択 -->
                    <div class="multiselect">
                    <div class="selectBox" onclick="toggleCheckboxes()">
                        <div id="selected-tags">
                            タグを選択してください（最大3つ）
                        </div>
                    </div>

                    <div id="checkboxes" style="display:none;">
                        {% for tag in tag %}
                            <label>
                                <input type="checkbox"
                                    name="tag_ids[]"
                                    value="{{ tag.id }}"
                                    onchange="updateSelectedTags()">
                                {{ tag.tag }}
                            </label>
                        {% endfor %}
                    </div>
                </div>

                    <!-- 投稿内容 -->
                        <textarea name="content" rows="10" maxlength="500" placeholder="内容を入力してください"></textarea>

                        <div class="post-btn">
                            <button type="submit">投稿</button>
                        </div>
                    </form>

                    <!-- 閉じるボタン（×印） -->
                    <label for="new-post" class="close-btn">&times;</label>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}