{% extends "base.html" %}

{% block title %}
Profile - TechShare
{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/follower.css')}}">
{% endblock %}

{% block content %}
<div class="follower">
    <div class="content">

        <div class="follow-btn">
            <button  class="btn-style" onclick="document.getElementById('followers').style.display = 'block'; document.getElementById('following').style.display = 'none';">
                フォロワー
            </button>

            <button class="btn-style" onclick="document.getElementById('following').style.display = 'block'; document.getElementById('followers').style.display = 'none';">
                フォロー
            </button>
        </div>

        <div class="follow-list">
            <div id="following" style="display: none;">
                <p>自分がフォローしている人たち：{{ following_users }}</p>
            </div>

            <div id="followers" style="display: none;">
                <p>自分をフォローしている人たち：{{ followers_of_user }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}