{% extends 'post/base.html' %}

{% block title %}Login - TechShare{% endblock %}

{% block content %}
<!-- ロゴの確認用 -->
<!-- <div class="logo">
    <h1>TechShare</h1>
</div> -->

<div class="main">
    <div class="card-container">
        <div class="card">
            <h2 class="auth-title">ログイン</h2>
            <form div="auth-form" method="post">
                <input type="hidden" name="">

                <div>
                    <label>メールアドレス</label>
                    <input type="text" placeholder="メールアドレス" name="email">
                </div>

                <div>
                    <label>パスワード</label>
                    <input type="password" placeholder="パスワード" name="password">
                </div>

                <div class="auth-button-container"> もし入力する欄と同じ間隔で配置する場合いらない
                    <button class="auth-button" type="submit">LOGIN</button>
                </div>

                <a class="auth-link" href="signup.html">新規登録はこちら</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}