{% extends "post/base.html" %}

{%block title %}
<title>signup - TechShare</title>
{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">
{% endblock %}

{% block content %}

<div class="main">
    <div class="card-container">
        <div class="auth-wrapper">
            <div class="card">
                <h2 class="auth-title">新規登録</h2>
                <form class="auth-form" method="post">
                    <input type="hidden" name="">
                    <div>
                        <label>ユーザー名</label>
                        <input type="text" placeholder="ユーザー名" name="name">
                    </div>

                    <div>
                        <label>メールアドレス</label>
                        <input type="text" placeholder="メールアドレス" name="email">
                    </div>

                    <div>
                        <label>パスワード</label>
                        <input type="password" placeholder="パスワード" name="password">
                    </div>

                    <div>
                        <label>パスワード(確認用)</label>
                        <input type="password" placeholder="パスワード(確認用)" name="password">
                    </div>

                    <div>
                        <button class="auth-button" type="submit">新規登録</button>

                        <a class="auth-link" href="login.html">ログインはこちら</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}