<div class="menu">
    <main class="menu-content">
        <nav>
            <ul>
                <!-- hrefの後ろは不確定 （相対パスで指定してる）-->
                <li><a href="{{ url_for('posts')}}">ホーム</a></li>
                <li><a href="{{ url_for('bookmark')}}">ブックマーク</a></li>
                <li><a href="{{ url_for('mypage')}}">自身の投稿</a></li>
                <li><a href="{{ url_for('profile')}}">プロフィール</a></li>
                <li><a href="{{ url_for('followers')}}">フォロワー</a></li>
            </ul>
        </nav>
    </main>
    <button class="logoutbutton" onclick="location.href='../auth/login.html'">ログアウト</button>
</div>