<div class="account-box">
    <span class="account-name">
        {{ login_user_name or '' }}
    </span>
</div>
<aside class="menu">
    <nav>
        <ul class="list">
            <li><a href="{{ url_for('posts_view')}}"><i class="fas fa-home"></i>ホーム</a></li>
            <li><a href="{{ url_for('myposts_view')}}"><i class="fas fa-edit"></i>自身の投稿</a></li>
            <li><a href="{{ url_for('profile_view')}}"><i class="fas fa-user"></i>プロフィール</a></li>
            <li><a href="{{ url_for('my_followers')}}"><i class="fas fa-users"></i>フォロワー</a></li>
            <li><a href="{{ url_for('my_bookmark')}}"><i class="fas fa-star"></i>ブックマーク</a></li>
        </ul>
    </nav>
    <button class="logout" onclick="location.href='{{url_for('logout')}}'">ログアウト</button>
</aside>