:root {
    --shadow-soft: 0 16px 40px rgba(15, 23, 42, 0.12);
}


main {
    min-height: 100vh
}

/* カードの位置調整 */
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    padding: 24px 16px 60px;
}

/* カードの横幅 */
.auth-wrapper {
    width: 100%;
    max-width: 520px;
}

/* カードの見た目調整 */
.card {
    background-color: #ffffff;
    border-radius: 11px;
    /* 影をつける */
    box-shadow: 0 0 20px gray;
}

/* カード内のログイン、新規登録のデザイン調整 */
.auth-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    padding-top: 25px;
    margin-bottom: 25px;
    margin-top: 0;
    /* 文字に影 */
    /* text-shadow: 2px 2px 2px blue; */
}

/* ===== auth form ===== */

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 70%;
    margin: 0 auto;
}

.auth-form>div {
    display: flex;
    flex-direction: column;
    gap: 6px;
    
}


/* 入力欄のデザイン調整 */
.auth-form input[type="text"],
.auth-form input[type="password"] {
    padding: 8px 12px;
    border: 1px solid #92B294;
    border-radius: 11px;
    font-size: 14px;
}

.auth-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form label {
    font-size: 14px;
    color: #bd004f;
}

/* ボタンのデザイン調整 */
.auth-button {
    padding: 12px 100px;
    color: black;
    background-color: #92B294;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin: 15px auto 0;
}

.auth-button:hover {
    background-color: #626873;
}

.auth-link {
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #374151;
}