/* :root {
    --shadow-soft: 0 16px 40px rgba(15, 23, 42, 0.12);
} */

/* カードの位置調整 */
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84vh;
    padding: 50px 60px;
}

/* カードの横幅 */
.auth-wrapper {
    width: 100%;
    width: 520px;
    margin: 0 auto;
}

/* カードの見た目調整 */
.card {
    background-color: #ffffff;
    border-radius: 11px;
    /* 影をつける */
    box-shadow: 0 0 20px gray;
}

/* カード内のログイン、新規登録のデザイン調整 */
.auth-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #374151;
    padding: 25px 0;
    margin: 0;
}

/* ===== auth form ===== */

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 70%;
    margin: 0 auto;
}

.auth-form>div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}


/* 入力欄のデザイン調整 */
.auth-form input[type="text"],
.auth-form input[type="password"] {
    padding: 8px 12px;
    border: 1px solid #92B294;
    border-radius: 11px;
    font-size: 14px;
}

.auth-button-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.auth-form label {
    font-size: 14px;
    color: #374151;
}

/* ボタンのデザイン調整 */
.auth-button {
    padding: 12px 100px;
    color: white;
    background: var(--primary-light);
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.auth-button:hover {
    background-color: #4f7952;
}

.auth-link {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #374151;
}

/* フラッシュメッセージ */ 
.flash-messages {
    margin-bottom: 16px;
}
