* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
    font-family: HackGen;
    color: blue;
}

header {
    width: 100%;
    height: 83px;
    font-family: COPPERPLATE GOTHIC;
    color: #45ddbc;
    text-shadow: 1px 1px 1px #b5fae9, -1px -1px 1px #1a6656;
}

.header-inner {
    background-color: #1a6656;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 83px;
    position: fixed;
}

/* あまりの画面いっぱいにしたい広がる */
main {
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: end;
    min-height: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* あまりの画面いっぱいにしたい広がる */
.main-content {
    display: flex;
    flex: 1;
    padding-bottom: 25px;
}


.main-page {
    flex: 1;
    min-height: 100vh;
    background-image: url('../image/background.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* サイドメニュー */

.menu-content {
    display: flex;
    flex-direction: column; 
    width: 15%;
    height: 100vh;
}

.side {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
}

/* menu内の要素（ログアウトボタン除く）全体の配置 */
.menu {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    height: 100%;
}

nav {
    height: 70%;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

li {
    font-size: 17px;
}

.logout {
    margin: auto;
    border-radius: 30px;
    border: 1px;
    cursor: pointer;
}
