:root {
    --text-color: #495B4A;
    /* --bg: #f5f5f7;
    --card-bg: #ffffff;
    --accent: #2563eb;
    --accent-soft: rgba(37, 99, 235, 0.08);
    --text-main: #271117;
    --text-sub: #6b7280;
    --border-soft: #e5e7eb;
    --danger: #ef4444;
    --radius-lg: 16px; */
}
